### Hemos logrado crear un repositorio y aprenderemos a crear branchs

In [13]:
a = 0
b = 1
n = 1
l = int(input("Enter Limit of series: "))
print(a, " " ,b , end=" ")
while n<=l:
        val = a + b
        print(" " , val, end=" ")
        a = b
        b = val
        n = n + 1

Enter Limit of series: 10
0   1   1   2   3   5   8   13   21   34   55   89

In [2]:
# TIPOS DE DATOS 
a = 5
type(a)

int

In [3]:
a = 5.5
type(a)

float

In [4]:
v1 = True
v2 = False
type(v1)

print(f"Valor de v1 = {v1} y v2 = {v2}")

Valor de v1 = True y v2 = False

In [5]:
a1 = "asfdadgfdgh"
type(a1)

str

In [6]:
'Hola' == 'Hola'

True

In [7]:
'Hola' != 'Adios'

True

In [8]:
# Menor o igual que
1 <= 4

True

In [9]:
# Mayor o igual que
1 >= 1

True

In [10]:
1 > 2

False

In [11]:
 import pandas as pd

In [12]:
junin = pd.read_excel(r"C:\Users\egonz\Desktop\LIMPIAR DATA/JUNIN_FINALIZADO.xlsx")
junin

FileNotFoundError: [Errno 2] No such file or directory: 'C:\\Users\\egonz\\Desktop\\LIMPIAR DATA/JUNIN_FINALIZADO.xlsx'

In [16]:
 import pandas as pd

In [20]:
LIMA = pd.read_excel(r"C:\Users\admin\Downloads/LIMA_FINALIZADO.xlsx")
LIMA

,DISTRITOS,LUGARES,EDADES,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,SABEN LEER,Unnamed: 9,...,Unnamed: 30,Unnamed: 31,NACIONALIDAD,Unnamed: 33,Unnamed: 34,Unnamed: 35,RAZAS,Unnamed: 37,Unnamed: 38,Unnamed: 39
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,De 4 a 6 años,NaN,NaN,De 6 a 14 años,NaN,NaN,NaN,NaN,...,NaN,NaN,Peruanos,NaN,Extranjeros,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,v.,M.,T.,V.,M.,T.,v.,M.,...,M.,T.,V.,M.,V.,M.,Blanca,Indígena,Mestiza,Negra
3,LIMA,Cuartel 10,396,405,801,1707,1739,3446,1319,1299,...,1779,3536,2062,2013,41,131,2125,946,1112,164
4,LIMA,Cuartel 20,423,423,846,1752,1979,3731,1227,1249,...,2168,4104,2115,2296,60,106,1789,1141,1448,199
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
367,SAN LUIS,Casa blanca,3,2,5,17,8,25,6,3,...,10,30,20,10,0,0,1,7,17,5
368,SAN LUIS,San Juan de Arona,8,7,15,37,36,73,1,2,...,43,88,45,43,0,0,0,24,10,54
369,SAN LUIS,Santa Bárbara,1,10,11,27,19,46,3,7,...,29,63,34,29,0,0,0,20,30,13
370,SAN LUIS,Huaca,5,4,9,17,10,27,3,1,...,14,36,22,14,0,0,0,8,16,12
371,SAN LUIS,Total,82,69,151,299,247,546,84,67,...,287,646,387,316,0,0,24,431,147,101

In [2]:
import time
sentence = "Katherin, Mejorate pronto!"
for char in sentence.split():
   allChar = []
   for y in range(12, -12, -1):
       lst = []
       lst_con = ''
       for x in range(-30, 30):
            formula = ((x*0.05)**2+(y*0.1)**2-1)**3-(x*0.05)**2*(y*0.1)**3
            if formula <= 0:
                lst_con += char[(x) % len(char)]
            else:
                lst_con += ' '
       lst.append(lst_con)
       allChar += lst
   print('\n'.join(allChar))
   time.sleep(1)

                erin,Kath           in,Kather
            Katherin,Katherin   therin,Katherin,K
          n,Katherin,Katherin,Katherin,Katherin,Kat
         in,Katherin,Katherin,Katherin,Katherin,Kath
        rin,Katherin,Katherin,Katherin,Katherin,Kathe
        rin,Katherin,Katherin,Katherin,Katherin,Kathe
        rin,Katherin,Katherin,Katherin,Katherin,Kathe
        rin,Katherin,Katherin,Katherin,Katherin,Kathe
        rin,Katherin,Katherin,Katherin,Katherin,Kathe
        rin,Katherin,Katherin,Katherin,Katherin,Kathe
         in,Katherin,Katherin,Katherin,Katherin,Kath
          n,Katherin,Katherin,Katherin,Katherin,Kat
          n,Katherin,Katherin,Katherin,Katherin,Kat
            Katherin,Katherin,Katherin,Katherin,K
             atherin,Katherin,Katherin,Katherin,
              therin,Katherin,Katherin,Katherin
                erin,Katherin,Katherin,Kather
                  in,Katherin,Katherin,Kath
                    ,Katherin,Katherin,Ka
                       therin,Katherin
                          rin,Kathe
                             ,Ka
                              K

                jorateMej           teMejorat
            teMejorateMejorat   jorateMejorateMej
          rateMejorateMejorateMejorateMejorateMejor
         orateMejorateMejorateMejorateMejorateMejora
        jorateMejorateMejorateMejorateMejorateMejorat
        jorateMejorateMejorateMejorateMejorateMejorat
        jorateMejorateMejorateMejorateMejorateMejorat
        jorateMejorateMejorateMejorateMejorateMejorat
        jorateMejorateMejorateMejorateMejorateMejorat
        jorateMejorateMejorateMejorateMejorateMejorat
         orateMejorateMejorateMejorateMejorateMejora
          rateMejorateMejorateMejorateMejorateMejor
          rateMejorateMejorateMejorateMejorateMejor
            teMejorateMejorateMejorateMejorateMej
             eMejorateMejorateMejorateMejorateMe
              MejorateMejorateMejorateMejorateM
                jorateMejorateMejorateMejorat
                  rateMejorateMejorateMejor
                    teMejorateMejorateMej
                       ejorateMejorate
                          rateMejor
                             eMe
                              M

                pronto!pr           !pronto!p
            nto!pronto!pronto   onto!pronto!pront
          ronto!pronto!pronto!pronto!pronto!pronto!
         pronto!pronto!pronto!pronto!pronto!pronto!p
        !pronto!pronto!pronto!pronto!pronto!pronto!pr
        !pronto!pronto!pronto!pronto!pronto!pronto!pr
        !pronto!pronto!pronto!pronto!pronto!pronto!pr
        !pronto!pronto!pronto!pronto!pronto!pronto!pr
        !pronto!pronto!pronto!pronto!pronto!pronto!pr
        !pronto!pronto!pronto!pronto!pronto!pronto!pr
         pronto!pronto!pronto!pronto!pronto!pronto!p
          ronto!pronto!pronto!pronto!pronto!pronto!
          ronto!pronto!pronto!pronto!pronto!pronto!
            nto!pronto!pronto!pronto!pronto!pront
             to!pronto!pronto!pronto!pronto!pron
              o!pronto!pronto!pronto!pronto!pro
                pronto!pronto!pronto!pronto!p
                  onto!pronto!pronto!pronto
                    to!pronto!pronto!pron
                       pronto!pronto!p
                          nto!pront
                             !pr
                              p