### Hemos logrado crear un repositorio y aprenderemos a crear branchs

In [2]:
a = 0
b = 1
n = 1
l = int(input("Enter Limit of series: "))
print(a, " " ,b , end=" ")
while n<=l:
        val = a + b
        print(" " , val, end=" ")
        a = b
        b = val
        n = n + 1

Enter Limit of series: 10
0   1   1   2   3   5   8   13   21   34   55   89

In [4]:
# TIPOS DE DATOS 
a = 5
type(a)

int

In [5]:
a = 5.5
type(a)

float

In [11]:
v1 = True
v2 = False
type(v1)

print(f"Valor de v1 = {v1} y v2 = {v2}")

Valor de v1 = True y v2 = False

In [7]:
a1 = "asfdadgfdgh"
type(a1)

str

In [13]:
'Hola' == 'Hola'

True

In [14]:
'Hola' != 'Adios'

True

In [15]:
# Menor o igual que
1 <= 4

True

In [16]:
# Mayor o igual que
1 >= 1

True

In [17]:
1 > 2

False

In [18]:
 import pandas as pd

In [20]:
junin = pd.read_excel(r"C:\Users\egonz\Desktop\LIMPIAR DATA/JUNIN_FINALIZADO.xlsx")
junin

,DISTRITOS,LUGARES,EDADES,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,SABEN LEER,Unnamed: 9,...,Unnamed: 30,Unnamed: 31,NACIONALIDAD,Unnamed: 33,Unnamed: 34,Unnamed: 35,RAZAS,Unnamed: 37,Unnamed: 38,Unnamed: 39
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,De 4 a 6 años,NaN,NaN,De 6 a 14 años,NaN,NaN,NaN,NaN,...,NaN,NaN,Peruanos,NaN,Extranjeros,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,v.,M.,T.,V.,M.,T.,v.,M.,...,M.,T.,V.,M.,V.,M.,Blanca,Indígena,Mestiza,Negra
3,CIUDAD DEL CERRO,C.Ciudad del Cerro,65,46,111,297,171,468,158,74,...,209,544,361,216,1,1,4,284,290,1
4,CIUDAD DEL CERRO,P.Yanacancha,1,3,4,49,47,96,30,0,...,50,100,50,50,0,0,0,100,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
230,YAULI,P.Pomacocha,1,0,1,15,7,22,8,0,...,7,23,16,7,0,0,0,21,2,0
231,YAULI,Pachachaca,2,0,2,20,8,28,7,1,...,8,30,22,8,0,0,0,4,26,0
232,YAULI,Yauli,2,6,8,74,38,112,41,22,...,37,103,76,44,0,0,37,14,69,0
233,YAULI,Minas de Morococha,9,5,14,87,25,112,8,0,...,30,126,96,30,0,0,1,118,7,0
234,YAULI,Total,14,11,25,196,78,274,64,23,...,82,282,210,89,0,0,38,157,104,0